body {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka';
  background: #ff9a76;
}

.container {
  padding: 10px;
}

.todo-app {
  border: 1px solid black;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px;
  margin-top: 150px;
  background: white;
  border-radius: 20px;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  background: #edeef0;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
  padding-left: 20px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-family: 'Fredoka';
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  font-family: 'Fredoka';
}

ul li {
  list-style: none;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("/images/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 12px ;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url("/images/checked.png");
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  margin-right: 20px;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

@media (max-width: 700px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .todo-app {
    max-width: 90%;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
  }


}